$white-color: #fff;
$black-color: #161625;
$orange-color: #bd5d38;

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s, transform 0.3s;
}

.navbar {
  font-size: 20px;
}

.navbar-brand,
.nav-link {
  color: #e68a8a !important;
  cursor: pointer;
}

.navbar-brand:hover,
.nav-link:hover,
.active-link {
  color: $white-color !important;
}

.react-switch-bg div {
  display: flex;
  justify-content: center;
}

.contact:hover,
.skill:hover {
  color: $orange-color !important;
}

.project-card {
  max-width: 400px;
  margin-top: 20px !important;
  margin: auto;

  @media (min-width: 992px) {
    margin-top: 0;
    height: 100%;
  }
}

a:hover {
  text-decoration: none;
  color: $orange-color;
}

.light {
  background-color: $white-color;
  color: $black-color;
}

.text-primary.svg {
  path {
    fill: #007bff;
  }
}

.dark {
  background-color: $black-color;
  color: $white-color;

  .contact {
    color: $orange-color !important;
  }
  .contact:hover {
    color: #fff !important;
  }

  .text-primary {
    color: $orange-color !important;

    &.svg {
      path {
        fill: $orange-color !important;
      }
    }
  }

  .project-card {
    .card-title,
    .card-subtitle,
    .card-text {
      color: $black-color;
    }

    .card-subtitle span {
      color: $orange-color !important;
    }
  }

  .contact.project:hover {
    color: #17a2b8 !important;
  }

  .flask path {
    fill: $white-color;
  }
}

.list-inline-item {
  p {
    font-weight: bold;
  }
}

.github-svg-icon,
.eye-svg-icon {
  path {
    fill: #17a2b8;
  }

  &:hover {
    path {
      fill: $orange-color;
    }
  }
}

.language-svg-icon path {
  fill: #ffffff;
}

.reda-pic {
  width: 315px;
  height: 357px;

  @media (min-width: 545px) {
    width: 440px;
    height: 500px;
  }
}
